<h3>Add a new car:</h3>
<form action="/cars" method="post">
  <label for="makeModel">Make and model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Price:</label>
  <input id="price" name="price" type="number">
  <label for="miles">Miles:</label>
  <input id="miles" name="miles" type="number">
  <button type="submit">Submit</button>
</form>