@using Dealership.Models;

<h1>List of available cars in your budget:</h1>

@if (Model.Count == 0)
{
  <p>There are no cars in the list.</p>
}
<ul>
  @foreach (Car car in Model)
  {
    <li>@car.MakeModel - @car.Miles - $@car.Price</li>
  }
</ul>

<form action="/">
  <button type="submit">Return to Home</button>
</form>
<form action="/cars/new">
  <button type="submit">Add another Car</button>
</form>