<h3>Looking to buy a car?</h3>
<h3>Enter your Budget:</h3>
<form action="/cars/showcars" method="post">

  <label for="budget">Budget:</label>
  <input id="budget" name="budget" type="number">

  <button type="submit">Submit</button>
</form>